WALLET_STORAGE_QUEUE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
WALLET_STORAGE_QUEUE_ACCOUNT_NAME=devstoreaccount1
WALLET_STORAGE_QUEUE_ENDPOINT=http://storage:10001/devstoreaccount1
WALLET_USAGE_QUEUE_NAME=pagopa-wallet-usage-update-queue


WALLET_SERVICE_URI=http://localhost:9001
WALLET_SERVICE_READ_TIMEOUT=10000
WALLET_SERVICE_CONNECTION_TIMEOUT=10000

AZURE_EVENTHUB_CONNECTION_STRING=kafka:29092
AZURE_EVENTHUB_TOPIC_NAME=payment-wallet-injection-topic

CDC_SEND_RETRY_MAX_ATTEMPTS=1
CDC_SEND_RETRY_INTERVAL_IN_MS=1000

WALLET_CDC_QUEUE_NAME=pagopa-wallet-cdc-queue
WALLET_CDC_QUEUE_POLLING_MAX_MESSAGE_PER_POLL=10
WALLET_CDC_QUEUE_POLLING_FIXED_DELAY_MS=1000