WALLET_STORAGE_QUEUE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
WALLET_STORAGE_QUEUE_ACCOUNT_NAME=devstoreaccount1
WALLET_STORAGE_QUEUE_ENDPOINT=http://localhost:10001/devstoreaccount1
WALLET_USAGE_QUEUE_NAME=pagopa-wallet-usage-update-queue
